// --------------------------------------------------
// 一. Niri 配置文件 (Niri configuration file)
// --------------------------------------------------
// 1.由 nwg-displays 生成的显示器配置
include "monitor.kdl"
// 2.快捷键绑定配置
include "binds.kdl"
// 3.环境变量配置
include "env.kdl"
// 4.启动程序配置
include "startup.kdl"
// 5.布局设置
include "layout.kdl"
// 6.动画配置
include "animations.kdl"
// 7.窗口规则配置
include "rules.kdl"
// 8.自定义输入设备配置
include "input__custom__.kdl"
// 9.自定义效果配置
include "effects.kdl"
// 10.显示器配置
include "monitor.kdl"
// 11.工作区配置
include "workspace.kdl"
